/* File: style.css
 * Date: March 22nd, 2017
 * Name: Eric Lin
 * Description: This file contains the CSS rules for our HTML markup
 * for the JWOfo App.
 */

html {
  overflow-y: scroll;
}

body{
  padding:0;
  margin:0;
}

/* Background image */
#background_image{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}

/* Input fields */
#number_text, #pass_text{
  width: 20%;
  height: 55px;
  box-sizing: border-box;
  border: 4px solid #FFFF00;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFF00;
  background-color: transparent;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
}

/* Submit button */
#submit_button{
  width: 20%;
  height: 55px;
  color: black;
  background-color: #FFFF00;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  transition: 0.5s;
}

/* Expand our input field when on desktop */
@media screen and (min-width: 1281px){
  #number_text:focus, #pass_text:focus{
    width: 25%;
  }

  #number_text{
    margin-top: 20%;
  }

  #submit_button:hover{
    opacity: 0.7;
    cursor: pointer;
  }
}

/* Rules for mobile devices in portrait mode */
@media screen and (orientation: portrait) and (max-width:1281px){
  #number_text, #pass_text{
    width: 70%;
    height: 100px;
    font-size: 2em;
    margin-top: 25px;
  }

  #number_text{
    margin-top: calc((100% - 375px)/ 2);
  }

  #submit_button{
    width: 70%;
    height: 100px;
    font-size: 36px;
    margin-top: 25px;
  }
}

/* Rules for mobile devices in landscape mode */
@media screen and (orientation: landscape) and (max-width:1281px) {
  #number_text, #pass_text{
    width: 50%;
    height: 75px;
    font-size: 24px;
    margin-top: 15px;
  }

  #number_text{
    margin-top: 10%;
  }

  #submit_button{
    width: 50%;
    height: 75px;
    font-size: 24px;
    margin-top: 15px;
  }
}

/* WebKit, Blink, Edge */
::-webkit-input-placeholder {
  color: #FFFF00;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: #FFFF00;
  opacity: 1;
}

/* Mozilla Firefox 19+ */
 ::-moz-placeholder {
  color: #FF0000;
  opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: #FF0000;
}
