/* File: style.css
 * Date: March 22nd, 2017
 * Name: Eric Lin
 * Description: This file contains the CSS rules for our HTML markup
 * for the JWOfo App.
 */

html {
  overflow-y: scroll;
}

body{
  padding:0;
  margin:0;
}

.clearfix{
  clear:both;
}

/* Background image */
#background_image{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}

/* Input fields */
#number_text, #pass_text{
  width: 20%;
  height: 55px;
  box-sizing: border-box;
  border: 4px solid #FFFF00;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFF00;
  background-color: transparent;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
}

.places::-webkit-input-placeholder{
  color: black;
}

/* Submit button */
#submit_button{
  width: 20%;
  height: 55px;
  color: black;
  background-color: #FFFF00;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  transition: 0.5s;
}

/* Expand our input field when on desktop */
@media screen and (min-width: 1281px){
  #number_text:focus, #pass_text:focus{
    width: 25%;
  }

  #number_text{
    margin-top: 20%;
  }

  #submit_button:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  .switch{
    float: right;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: -20%;
    width: 60px;
    height: 34px;
  }

  .slider:before{
    height: 26px;
    width: 26px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
  }
}

/* Rules for mobile devices in portrait mode */
@media screen and (orientation: portrait) and (max-width:1281px){
  #number_text, #pass_text{
    width: 70%;
    height: 100px;
    font-size: 2em;
    margin-top: 25px;
  }

  #number_text{
    margin-top: calc((100% - 375px)/ 2);
  }

  #submit_button{
    width: 70%;
    height: 100px;
    font-size: 36px;
    margin-top: 25px;
  }

  .switch{
    float: right;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: -20%;
    width: 120px;
    height: 70px;
  }
  .slider:before{
    height: 60px;
    width: 60px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(47px);
    -ms-transform: translateX(47px);
    transform: translateX(47px);
    background-color: white;
  }
}

/* Rules for mobile devices in landscape mode */
@media screen and (orientation: landscape) and (max-width:1281px) {
  #number_text, #pass_text{
    width: 50%;
    height: 75px;
    font-size: 24px;
    margin-top: 15px;
  }

  #number_text{
    margin-top: 10%;
  }

  #submit_button{
    width: 50%;
    height: 75px;
    font-size: 24px;
    margin-top: 15px;
  }
  .switch{
    float: right;
    margin-right: 10%;
    margin-top: 10%;
    width: 120px;
    height: 70px;
  }
  .slider:before{
    height: 60px;
    width: 60px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: white;
  }
}

/* WebKit, Blink, Edge */
::-webkit-input-placeholder {
  color: #FFFF00;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: #FFFF00;
  opacity: 1;
}

/* Mozilla Firefox 19+ */
 ::-moz-placeholder {
  color: #FF0000;
  opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: #FF0000;
}


.switch {
  position: relative;
  display: inline-block;

}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFF00;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
